<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ошибка!</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>

    <div class="container grid-lg">
        <div class="columns">
            <div class="column col-6 col-xs-12">
                Произошла ошибка - подробности В консоли
                {#<pre>{{error | json_encode(constant('JSON_PRETTY_PRINT')) | raw}}</pre> #}
                <script>console.log( {{error | json_encode | raw }} );</script>
            </div>
        </div>
    </div>

</body>

</html>