<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Привет мир!</title>
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>

	<div class="container">
		<div class="columns">
			<div class="column col-9 col-mx-auto">
				<h1>Привет мир!</h1>
				<p>Это пример статической страницы. Он отображается, если имя маршрута соответствует имени шаблона и
					другой маршрут с таким именем не определен. Удобно!</p>
			</div>
		</div>
	</div>

</body>

</html>